.tgl {
  display: none; }
  .tgl + .tgl-btn {
    display: inline-block;
    position: relative;
    width: 3em;
    height: 1.5em;
    margin-right: 1em;
    padding: 2px;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    border-radius: 2em;
    outline: 0;
    background-color: #efefef;
    vertical-align: bottom;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      display: block;
      position: relative;
      width: 50%;
      height: 100%;
      content: ''; }
    .tgl + .tgl-btn:after {
      left: 0;
      -webkit-transition: left .3s ease;
      transition: left .3s ease;
      border-radius: 50%;
      background: #fff; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn {
    background-color: #8dae28; }
    .tgl:checked + .tgl-btn:after {
      left: 50%; }
  .tgl:checked ~ .tgl-text-off {
    display: none; }
  .tgl:not(:checked) ~ .tgl-text-on {
    display: none; }

.input-with-switch.input-is-readonly {
  pointer-events: none; }

.input-with-switch:not(.input-is-readonly) .tgl + .tgl-btn {
  cursor: pointer; }

.input-with-switch,
.input-with-switch *,
.input-with-switch :after,
.input-with-switch :before,
.input-with-switch + .tgl-btn, .input-with-switch:after,
.input-with-switch :before {
  box-sizing: border-box; }

.input-with-switch ::-moz-selection,
.input-with-switch :after::-moz-selection,
.input-with-switch :before::-moz-selection,
.input-with-switch + .tgl-btn::-moz-selection, .input-with-switch::-moz-selection, .input-with-switch:after::-moz-selection, .input-with-switch:before::-moz-selection {
  background: 0 0; }

.input-with-switch ::selection,
.input-with-switch :after::selection,
.input-with-switch :before::selection,
.input-with-switch + .tgl-btn::selection, .input-with-switch::selection, .input-with-switch:after::selection, .input-with-switch:before::selection {
  background: 0 0; }
